$primary: lightblue;
$grey: #ededed;

$dark-grey: #777777;
$blue: #2c78d9;
$light-blue: #eaf1fb;

$positive: #60be65;
$danger: #f64444;

$space: 16px;
$v-gap: $space * 2;
$transition: 0.25s;

$lg: 1366px;

$field-gap-v: 32px;
$field-gap-h: 24px;