@import 'core.scss';

.product-card {
  margin: 3rem 2.5rem;
  display: inline-block;
  flex: 0 0 auto;
  width: 26rem;
  height: 38rem;
  padding-top: 1.5rem;
  border-radius: 3px;
  border: 1px solid #8f8f8f;

  -webkit-box-shadow: 0px 4px 12px 1px #a4a4a4;
  box-shadow: 0px 4px 12px 1px #a4a4a4;
}

.img {
  display: block;
  margin: 0 auto;
  width: 23rem;
  height: 25rem;
}

.control {
  @include flex(space-around, center);
}

.trash {
  font-size: 2.5rem;
}

.selected {
  background-color: #9f9f9f;
}

.price {
  font-size: 2rem;
  padding: 1.5rem 0 1rem;
  text-align: center;
}
